.card.my-4
  .card-header.bg-light
    %h5.mb-0 List of Journeys
  .card-body{ data: { controller: "journeys" } }
    %p.text-muted.mb-4= t "journey_run_info"
    .d-flex.justify-content-center.mb-3
      != pagy_bootstrap_nav(pagy)
    .row.gx-0.border-bottom.pb-2.mb-2
      .hidden
        = form_for :all_journeys, url: [:enable_page_journeys, resource_link].flatten, data: { "journeys-target" => "enableForm" } do |f|
          = f.hidden_field :journey_ids, value: journeys.map(&:id).to_json
          = f.hidden_field :page, value: pagy.page
        = form_for :all_journeys, url: [:disable_page_journeys, resource_link].flatten, data: { "journeys-target" => "disableForm" } do |f|
          = f.hidden_field :journey_ids, value: journeys.map(&:id).to_json
          = f.hidden_field :page, value: pagy.page
      .row.gx-0.mb-3.align-items-center.border-bottom.pb-2.table-row
        .col-md-1.d-flex.justify-content-center
          .form-check
            %input.form-check-input.is-valid.boolean.optional{
              type: "checkbox",
              "data-action" => "change->journeys#toggleAll",
              "data-journeys-target" => "toggleAll"
            }
        .col-md-7.ps-2
          %label All on page

      .col-md-1.text-center.fw-bold Enabled
      .col-md-7.fw-bold Journey Name
      .col-md-2.fw-bold Journey ID
      - if @show_journey_type
        .col-md-2.fw-bold Journey Type
    #journeys
      = render journeys
    %hr
    .d-flex.justify-content-center.mb-3

      != pagy_bootstrap_nav(pagy)
    .my-2.row
      .col-4
        = simple_form_for :all_journeys, url: [:disable_all_journeys, resource_link].flatten do |f|
          = f.input :page, input_html: { value: pagy.page }, as: :hidden, wrapper: false
          = f.button :submit, "Disable all journeys", data: { confirm: "This will disable all #{resource.journeys.count} journeys for #{resource_name}. Are you sure?" }, class: "btn-warning"
      .col-4
        = simple_form_for :all_journeys, url: [:enable_all_journeys, resource_link].flatten do |f|
          = f.input :page, input_html: { value: pagy.page }, as: :hidden, wrapper: false
          = f.button :submit, "Enable all journeys", data: { confirm: "This will disable all #{resource.journeys.count} journeys for #{resource_name}. Are you sure?" }, class: "btn-warning"
