= simple_form_for ltn do |f|
  = f.input :scheme_name,
            input_html: { class: "form-control-lg" },
            wrapper_html: { class: "mb-4" }

  = f.input :default_lat, as: :hidden
  = f.input :default_lng, as: :hidden

  .mb-3
    %p.text-muted.mb-2
      Centre of scheme
      %abbr{title: "Required"} *
      %small (This will be used to center journeys on the map)
    .map{
        data: {
          controller: "location",
          location_lat_value: ltn.default_lat || Ltn::DEFAULT_LAT,
          location_lng_value: ltn.default_lng || Ltn::DEFAULT_LNG,
          location_persisted_value: ltn.default_lat.present?,
          location_form_prefix_value: "ltn_default",
          location_edit_mode_value: true
        }
      }

  = f.button :submit

