%h1.my-4= "Scheme: #{@ltn.scheme_name}"

.card.my-4
  .card-header.bg-light
    %h5.mb-0 Add New Journeys
  .card-body
    .container
      .row
        .col-sm-2.d-flex.align-items-end
          = link_to "Manually add journey", new_ltn_journey_path(@ltn), class: "btn btn-primary", title: "Manually add a single journey by selecting an origin and destination."
        .col-sm-2.d-flex.align-items-end
          = link_to "Build journeys from locations", ltn_points_of_interest_and_origins_path(@ltn), class: "btn btn-primary", title: "Add Origins and Points of Intrest, then generate journeys between them."
        .col-sm-8
          Upload a CSV file with your journeys.  It must be in this format:
          %a{href: "/journeys_upload.csv"} journeys_upload.csv
          = simple_form_for :journeys_upload, url: ltn_journeys_uploads_path(@ltn) do |f|
            = f.input :file, as: :file, input_html: { accept: "text/csv" }, label: false
            = f.button :submit, "Import multiple journeys", title: "Upload a CSV file to quickly add multiple journeys at once."

= render "shared/journeys_card", journeys: @journeys, resource: @ltn, resource_name: @ltn.scheme_name, pagy: @pagy, show_journey_type: @show_journey_type, resource_link: [@ltn]

.card.my-4
  .card-header.bg-light
    %h5.mb-0= link_to "Download Journey Runs", new_ltn_journey_run_download_path(@ltn)


.my-4.row
  .col-md-2
    = link_to "Back to schemes", ltns_path, class: "btn btn-outline-secondary"
  .col-md-2
    = link_to "Edit this scheme", edit_ltn_path(@ltn), class: "btn btn-outline-secondary"
  %br

- if @ltn.journeys.empty?
  .my-4
    = link_to "Delete this scheme", @ltn, class: "btn btn-danger", method: :delete, confirm: true
