.row.mb-3.align-items-center.border-bottom.pb-2{class: ("table-row" unless journey == @journeys.last)}
  .col-md-1.d-flex.justify-content-center
    .form-check
      %input.form-check-input.is-valid.boolean.optional{
        type: "checkbox",
        "data-action" => "change->journeys#updateToggleAllState",
        "data-journeys-target" => "checkbox",
        "data-journey-id" => journey.id,
      }
  .col-md-1.d-flex.justify-content-center
    - if journey.enabled
      %i.bi.bi-check-circle-fill.text-success{ title: "Enabled" }
    - else
      %i.bi.bi-x-circle-fill.text-secondary{ title: "Disabled" }
  .col-md-6
    = link_to journey.display_name.truncate(75), [@ltn, journey], class: "text-decoration-none"

  .col-md-2
    .text-muted.small= "#{journey.id}"

  / Type (conditional)
  - if @show_journey_type
    .col-md-2
      %span.badge{class: "bg-#{journey.type == 'walking' ? 'info' : 'secondary'}"}
        = journey.type.humanize
