%h1
  = "New Journey for"
  = link_to @ltn.scheme_name, @ltn, class: "text-decoration-none"

.container.mt-1
  = t "journey_run_info"


.container.mt-2
  = render "form", journey: @journey

%br

.my-4.row
  .col-md-2
    = link_to "Back to #{@ltn.scheme_name}", ltn_path(@ltn), class: "btn btn-outline-secondary"

